$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;



.login{
    padding-top: 105px;
    min-height: 80vh;
    padding-inline: 20px;
    padding-bottom: 30px;
    #loginForm{
        width: auto;
        height: auto;
        .text{
            text-align: center;
            .heading{
                color: $txt;
                font-weight: 600;
                font-size: 33px;
            }
        }
        .form{
            background: white;
            border-radius: 12px;
            padding-inline: 14px;
            padding-block: 34px;
            position: relative;
            margin-top: 20px;
            .vipps{
                background: #FF5B24;
                width: 100%;
                color: white;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 7px;
            }
            .or-vipps{
                margin-top: 27px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;
                justify-content: space-between;  
                opacity: 0.7;
                width: 100%;
                span{
                    width: 40%;
                    display: block;
                    position: relative;
                    background: rgba(160, 160, 160, 0.692);
                    height: 1px;
                }
                p{
                    margin-bottom: 0;
                    color: $black;
                    font-size: 14px;
                    padding-inline: 20px;
                    font-weight: 500;
                    min-width: 120px !important;
                }
            }
        }
        .inputs-labels{
            max-width: 400px;
            label{
                color: $txt;
                font-size: 15px;
                font-weight: 500;
            }
            .phone-input{
                display: flex;
                align-items: center;
                input{
                    width: 85%;
                    margin-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    &:focus, &:active{
                        border: 1px solid $primBtn;
                        cursor: text;
                        background: rgba(255,255,255,1);
                    }
                }
                .code{
                    width: 16%;
                    background: #f8f7f2;
                    border-bottom-left-radius: 7px;
                    border-top-left-radius: 7px;
                    border: 1px solid lightgray;
                    border-right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 48px;
                    p{
                        color: $txt;
                        font-weight: 500;
                        padding: 16px;
                        font-size: 15px;
                        margin-bottom: 0 !important;
                    }
                }
            }
            input{
                width: 100%;
                height: 48px;
                border: 1px solid lightgray;
                outline: none;
                padding: 8px;
                color: $txt;
                font-size: 16px;
                cursor: pointer;
                background: rgba(255,255,255,0.7);
                border-radius: 7px;
                &:focus, &:active{
                    border: 2px solid $primBtn;
                    cursor: text;
                    background: rgba(255,255,255,1);
                }
                &::placeholder{
                    color: #183B56;
                    opacity: 0.6;
                }
            }
        }
        .form-actions{
            max-width: 400px;
            margin-top: 25px;
            button{
                width: 100%;
                height: 40px;
                background: $primBtn;
                color: $white;
                border-radius: 7px;
                font-size: 16px;
                padding: 3px;
                cursor: pointer;
                transition: .4s;
                border: none;
                outline: none;
                font-weight: 400;
                &:hover{
                    transform: scale(1.01);
                }
            }
        }
    }
}


@media only screen and (min-device-width: 1140px) {
    .login{
        padding-top: 25px;
        min-height: 80vh;
        #loginForm{
            width: auto;
            margin: auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .text{
                text-align: center;
            }
            .inputs-labels{
                padding-inline: 20px;
                max-width: 400px;
                padding-block: 28px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                label{
                    color: $txt;
                    font-size: 17px;
                    font-weight: 500;
                }
                input{
                    width: 100%;
                    height: 53px;
                    border: 1px solid lightgray;
                    outline: none;
                    padding: 8px;
                    color: $txt;
                    font-size: 16px;
                    cursor: pointer;
                    background: rgba(255,255,255,0.7);
                    border-radius: 4px;
                    &:focus, &:active{
                        border: 2px solid $primBtn;
                        cursor: text;
                        background: rgba(255,255,255,1);
                    }
                    &::placeholder{
                        color: #183B56;
                        opacity: 0.6;
                    }
                }
            }
            .form-actions{
                padding-inline: 20px;
                max-width: 400px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                button{
                    width: 100%;
                    height: 57px;
                    background: $primBtn;
                    color: $white;
                    border-radius: 4px;
                    font-size: 16px;
                    padding: 3px;
                    cursor: pointer;
                    transition: .4s;
                    border: none;
                    outline: none;
                    font-weight: 400;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}