$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #08A1CF;
$txt: #183b56;

.myaccount{
    width: 100%;
    min-height: 88vh;
    background: transparent;
    margin-bottom: 0;
    // ACCOUNT HEADING
    .heading{
        padding-block: 20px;
        text-align: center;
        background: rgba(255,255,255,0.8);
        color: $txt;
        font-size: 28px;
        font-weight: 600;
        }
    .flex{
      display: unset;
    }
    // Account section
    .account-card{
      margin: 0 auto;
      text-align: left;
      background: transparent;
      width: 100%;
      max-width: 900px;
      padding: 20px;
      border-radius: 7px;
        // YOUR INFO
        .your-info{
          display: inline-block;
          margin-block: 12px;
          margin-left: 0;
          text-align: center;
          background: white;
          width: 100%;
          height: auto;
          max-width: 340px;
          padding: 28px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          .memoji{
            background: #0089f985;
            border-radius: 100%;
            width: max-content;
            height: max-content;
            margin: auto;
            position: relative;
            img{
              width: 85px;
              height: auto;
              padding: 15px;
            }
            i{
              position: absolute;
              right: -45px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 22px;
              color: $txt;
              cursor: pointer;
            }
          }
          .text{
            .welcome{
                margin-bottom: 0;
                font-size: 22px;
                color: $txt;
                padding-block: 8px;
            }
          }
          .user-info{
            text-align: left;
            label{
                color: $txt;
                font-size: 17px;
                font-weight: 500;
            }
            input{
                width: 100%;
                height: 53px;
                border: 1px solid lightgray;
                outline: none;
                padding: 8px;
                color: $txt;
                font-size: 16px;
                cursor: pointer;
                background: rgba(255,255,255,0.7);
                border-radius: 4px;
                pointer-events: none;
            }
          }
        }
    }
}