{% extends 'core/base.html' %}    
{% load static %}    
    

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/login.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/login.js' %}" type="text/javascript"></script>


<div class="login">
    <!-- USER LOGIN -->
    <form id="loginForm" method="post">
        <div class="text">
            <h1 class="heading">Logg inn</h1>
        </div>
        {% csrf_token %}
        <!-- USER LOGIN FORM INPUTS -->
        <div class="inputs-labels">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Brukernavn eller passord er feil</strong>
                </div>
            {% endif %}
            <!-- NAME -->
            <label for="username">Brukernavn</label>
            <br>
            <input style="margin-bottom: 7px;" type="text" id="username" name="username" required oninvalid="this.setCustomValidity('Kan ikke være tom')" oninput="this.setCustomValidity('')">
            <br>
            <br>
            <!-- PASSWORD -->
            <label for="password">Passord</label>
            <br>
            <input type="password" id="password" name="password" required oninvalid="this.setCustomValidity('Kan ikke være tom')" oninput="this.setCustomValidity('')">
            <br>
        </div> 
        <div class="form-actions">
            <button type='submit'>Logg inn</button>
        </div>
        <br>
        <!-- <p class="or-signup"><a href="/lag-bruker">Eller lag bruker</a></p> -->
    </form>
</div>
<div class="black-overlay" id="blackOverlay"></div>

{% endblock %}
            


