{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/myaccount.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">


<div class="myaccount">
    <h1 class="heading">Min bruker</h1>
    <div class="account-card">
        <div class="flex">
            <div class="your-info">
                <div class="memoji">
                    <i onclick="window.location.href='/logg-ut'" class="fa-solid fa-right-from-bracket" title="Logg ut"></i>
                    <img class="logo1" src="{% static '/images/other/memoji-male.png' %}" alt="user icon avatar myaccount">
                </div>
                <div class="text">
                    <p class="welcome">Velkommen</p>
                    <br>
                </div>
                <div class="user-info">
                    <label>Brukernavn</label>
                    <br>
                    <input readonly type="text" value="{{ request.user.username}}">
                    <br>
                    <br>
                    <label>Navn</label>
                    <br>
                    <input readonly type="text" value="{{ request.user.get_full_name }}">
                    <br>
                    <br>
                    <label>Epost</label>
                    <br>
                    <input readonly type="text" value="{{ request.user.email }}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
