{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/userprofile/myaccount.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/myaccount.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static '/scss/pages/page.css' %}" type="text/css">


<div class="myaccount">
    <div class="top">
        <div class="back-to-home" onclick="window.location.href='/'">
            <span></span>
            <p>Hjem</p>
        </div>
        <h1 class="heading">Min bruker</h1>
    </div>
    <div class="account-card">
        <div class="flex">
            <div class="your-info">
                <div class="user-profile">
                    <i onclick="window.location.href='/logg-ut/'" class="fa-solid fa-right-from-bracket" title="Logg ut"></i>
                    <img class="logo1" src="{{user.profile.image.url}}" alt="user icon avatar myaccount">
                    <form method="post" id="changeProfilePic" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{p_form.errors}}
                        <label for="image">Profil bilde</label>
                        <br>
                        <input type="file" name="image" id="image">
                        <button type="submit">Endre bilde</button>
                    </form>
                </div>
                <div class="user-info">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{u_form.errors}}
                        <label for="username">Brukernavn</label>
                        <br>
                        <input id="username" name="username" type="text" value="{{ request.user.username}}">
                        <br>
                        <br>
                        <label for="first_name">Fornavn</label>
                        <br>
                        <input id="first_name" name="first_name" type="text" value="{{ request.user.first_name }}">
                        <br>
                        <br>
                        <label for="last_name">Etternavn</label>
                        <br>
                        <input id="last_name" name="last_name" type="text" value="{{request.user.last_name}}">
                        <br>
                        <br>
                        <label for="email">Epost</label>
                        <br>
                        <input id="email" name="email" type="text" value="{{ request.user.email }}">
                        <br>
                        <button type="submit">Endre info</button>
                    </form>
                </div>

                <hr style="margin-block: 35px;">

                <div class="user-won-comp">
                    <h1 class="heading">Vunnet konkurranser</h1>
                    <div class="comps-sec">
                        {% for comp in request.user.comps.all %}
                        <hr>
                        {{comp}}
                        {% empty %}
                        <div class="empty">
                            <h1>Du har ikke vunnet enda</h1>
                            <p>Prøv hardere neste gang!</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
