{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>

<div class="page">
<div class="actions">

    <button onclick="hallOfFame()" id="hallOfFameBtn">Hall of Fame</button>
    <div class="sidebar" id="hallOfFameChoices">
      <h1 class="heading">Hall of Fame</h1> <i onclick="hallOfFameClose()" class="fa-solid fa-xmark"></i>
      <a onclick="window.location.href='/hall-of-fame-dag/'">Dag</a>
      <a onclick="window.location.href='/hall-of-fame-uke/'">Uke</a>
      <a onclick="window.location.href='/hall-of-fame-maaned/'">Måned</a>
      <a onclick="window.location.href='/hall-of-fame-aar/'">År</a>
      <a onclick="window.location.href='/hall-of-fame-alltime/'">All time</a>
    </div>

    <button onclick="competition()" id="competitionBtn">Competition</button>

    <button onclick="history()" id="historyBtn">History</button>

    <button onclick="window.location.href='/min-bruker/'">Min bruker</button>
    
  </div>


  <div class="results-section" id="hallOfFameWeekSec">
    <h1 class="heading">Hall of Fame</h1>
    <h2>Uke</h2>
    <div class="results">
      {% for profile in profiles %}
      <div class="user">
        <div class="resultPlace">
{{ forloop.counter }}{% if forloop.counter == 1 %}st{% elif forloop.counter == 2 %}nd{% elif forloop.counter == 3 %}rd{% else %}th{% endif %} 
        </div>
        <div class="img"><img src="{{profile.image.url}}" alt=""></div>
        <div class="name">{{profile.user.get_full_name}}</div>
        <div class="points">{{profile.week_points}}</div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}