$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #f0a432;
$txt: #183b56;

.cover{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 5px;
    background: linear-gradient(to bottom, #fff7d623, #fff7d623, rgba(255, 240, 180, 0.247));
    .content{
      padding-inline: 20px;
      padding-top: 38px;
      padding-bottom: 40px;
      height: max-content;
      position: relative;
      .cover-image{
        display: block;
        width: 365px;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: -100px;
        margin-left: -3px;
      }
      .text{
        text-align: left;
        margin-top: 28px;
        .cover-h1{
          color: $black;
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        .cover-p{
          font-size: 18px;
          margin-bottom: 0;
          color: $black;
          font-weight: 500;
        }
      }
      .cover-actions{
        margin-top: 24px;
        width: 100%;
        text-align: center;
        button{
          border: 1px solid transparent;
          border-radius: 10px;
          outline: none;
          background: $primBtn;
          color: white;
          font-weight: 500;
          font-size: 17px;
          width: 100%;
          display: block;
          height: 49px;
          &.secondary{
            border-color: $primBtn;
            color: $primBtn;
            background: white;
            margin-right: 0;
            margin-top: 15px;
          }
        }
      }
    }
}

.sell-with-us{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .video{
      margin-top: 25px;
      width: 100%;
      height: 150px;
      background: lightgray;
    }
  }
}

.proccess{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
}

.services{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .video{
      margin-top: 25px;
      width: 100%;
      height: 150px;
      background: lightgray;
    }
  }
}

.price{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .video{
      margin-top: 25px;
      width: 100%;
      height: 150px;
      background: lightgray;
    }
  }
}

.location{
  width: 100%;
  height: auto;
  padding-block: 50px;
  position: relative;
  .content{
    padding-inline: 20px;
    position: relative;
    .text{
      text-align: left;
      margin-top: 28px;
      h1{
        color: $black;
        font-size: 27px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .video{
      margin-top: 25px;
      width: 100%;
      height: 150px;
      background: lightgray;
    }
  }
}