$black: #1F1F1F;
$white: rgb(246,246,246);
$primBtn: #08A1CF;
$txt: #183b56;

#footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #1f1f1fa8;
    background: white;
    width: 100%;
    border-top: 1px solid rgba(100,100,100,0.15);
}