{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>

<div class="page">
<div class="actions">

    <button onclick="hallOfFame()" id="hallOfFameBtn">Hall of Fame</button>
    <div class="sidebar" id="hallOfFameChoices">
      <h1 class="heading">Hall of Fame</h1> <i onclick="hallOfFameClose()" class="fa-solid fa-xmark"></i>
      <a onclick="window.location.href='/'">Dag</a>
      <a onclick="window.location.href='/hall-of-fame-uke/'">Uke</a>
      <a onclick="window.location.href='/hall-of-fame-maaned/'">Måned</a>
      <a onclick="window.location.href='/hall-of-fame-aar/'">År</a>
      <a onclick="window.location.href='/hall-of-fame-alltime/'">All time</a>
    </div>

    <button onclick="window.location.href='/competition/'">Competition</button>

    <button onclick="cat()" id="historyBtn">Categories</button>
    <div class="sidebar" id="catChoices">
      <h1 class="heading">Categories</h1> <i onclick="catClose()" class="fa-solid fa-xmark"></i>
      <a onclick="tbbExtra()">TBB</a>
      <div class="sub-sidebar" id="tbbExtraSide">
        <a onclick="window.location.href='/cat-tbb-day/'">Dag</a>
        <a onclick="window.location.href='/cat-tbb-week/'">Uke</a>
        <a onclick="window.location.href='/cat-tbb-month/'">Måned</a>
        <a onclick="window.location.href='/cat-tbb-year/'">År</a>
        <a onclick="window.location.href='/cat-tbb-alltime/'">All time</a>
        </div>
      <a onclick="fiberExtra()">Fiber</a>
      <div class="sub-sidebar" id="fiberExtraSide">
        <a onclick="window.location.href='/cat-fiber-day/'">Dag</a>
        <a onclick="window.location.href='/cat-fiber-week/'">Uke</a>
        <a onclick="window.location.href='/cat-fiber-month/'">Måned</a>
        <a onclick="window.location.href='/cat-fiber-year/'">År</a>
        <a onclick="window.location.href='/cat-fiber-alltime/'">All time</a>
        </div>
      <a onclick="densExtra()">Densification</a>
      <div class="sub-sidebar" id="densExtraSide">
        <a onclick="window.location.href='/cat-dens-day/'">Dag</a>
        <a onclick="window.location.href='/cat-dens-week/'">Uke</a>
        <a onclick="window.location.href='/cat-dens-month/'">Måned</a>
        <a onclick="window.location.href='/cat-dens-year/'">År</a>
        <a onclick="window.location.href='/cat-dens-alltime/'">All time</a>
        </div>
    </div>

    <button onclick="window.location.href='/min-bruker/'">Min bruker</button>
    
  </div>


  <div class="results-section" id="hallOfFameAllTimeSec">
    <h1 class="heading">Fiber</h1>
    <h2>Måned</h2>
    <div class="results">
      {% for profile in profiles %}
      <div class="user">
        <div class="resultPlace">
{{ forloop.counter }}{% if forloop.counter == 1 %}st{% elif forloop.counter == 2 %}nd{% elif forloop.counter == 3 %}rd{% else %}th{% endif %} 
        </div>
        <div class="img"><img src="{{profile.image.url}}" alt=""></div>
        <div class="name">{{profile.user.get_full_name}}</div>
        <div class="points">{{profile.Fiber_month_points}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}