{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->
<div id="footerMob">
    <div class="links">
        <p class="info-heading">Informasjon</p>
        <a href="/om-oss/">Om Webiser</a>
        <a href="/om-oss/">Prosjekter</a>
        <a href="/vilkaar/">Vilkår</a>
        <a href="/policy/">Policy</a>

        <br>
        
        <p class="info-heading">Kundeservice</p>
        <a href="/om-oss/">Forum</a>
        <a href="/om-oss/">Kontakt oss</a>
    </div>

    <hr style="margin-block: 25px;">

    <div class="bottom">
        <div class="logo" id="logo" onclick="window.location.href='/'">
            <img class="logo2" src="{% static '/images/logo/logo-black.png' %}" alt="logo2">
        </div>
           <div class="social-icons">
            <i onclick="window.location.href='https://www.instagram.com/lillehammertjenester.no/'" class="fab fa-instagram"></i>
            <i onclick="window.location.href='https://www.facebook.com/profile.php?id=100090085785878'" class="fab fa-facebook"></i>
        </div>
    </div>         
</div>
