{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script src="{% static '/js/home.js' %}"></script>


<div class="cover">
    <div class="content">
        <img class="cover-image" src="{% static '/images/covers/cover.png' %}" alt="quote-marks">
        <div class="text">
            <h1 class="cover-h1">Enklere og tryggere bilsalg </h1>
        </div>
        <div class="cover-actions">
            <button>Kjøp bil</button>
            <button class="secondary">Selg bil</button>
         </div>   
    </div>
</div>

<div class="sell-with-us">
    <div class="content">
        <div class="text">
            <h1>Så enkelt kan du selge med oss</h1>
        </div>
        <div class="video"></div>
    </div>
</div>

<div class="proccess">
    <div class="content">
        <div class="text">
            <h1>Fire enkle steg</h1>
        </div>
    </div>
</div>

<div class="services">
    <div class="content">
        <div class="text">
            <h1>Hva gjør vi for deg?</h1>
        </div>
    </div>
</div>

<div class="price">
    <div class="content">
        <div class="text">
            <h1>Hva koster det?</h1>
        </div>
    </div>
</div>

<div class="location">
    <div class="content">
        <div class="text">
            <h1>Du finner oss her</h1>
        </div>
    </div>
</div>

{% endblock %}
 